@model List<WebApplication2.Models.Book>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index2</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>

<body>
    <br />
<table class="table table-bordered container">
    <tr>
        <th>Id</th>
        <th>Kitap Adı</th>
        <th>Yazar</th>
    </tr>

    @foreach (var item in Model)
    {

        <tr>
            <th>@item.Id</th>
            <td>@item.BookName</td>
            <td>@item.Writer</td>

        </tr>

    }
</table>

@await  Component.InvokeAsync("NewBook")

<br/>
@await Html.PartialAsync("_PartialView")
</body>
</html>

