@model WebApplication1.Models.Department
@{
    ViewData["Title"] = "Add";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}


<br />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<form class="form-group" method="post">
    <b>Departman Adı</b>
    @Html.TextBoxFor(x => x.DepartmentName, new { @class = "form-control" })
    <br />
    <button class="btn btn-primary" style="color:white">Departman Ekle</button>
</form>

