@model IEnumerable<WebApplication2.CoreAndFood.Models.Entity.Category>

<div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
    <ul class="nav navbar-nav nav_1">
        @foreach (var item in Model)
        {
            <li><a href="/Showcase/CategoryDetails/@item.CategoryId">@item.CategoryName</a></li>
        }
    </ul>
</div>