@using WebApplication2.CoreAndFood.Models.Entity
@model List<Category>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<a href="/Category/Add/" style="margin-bottom:15px;" class="btn btn-primary">Yeni Kategori Ekle</a>

<table class="table table-bordered">
    <tr>
        <th>Id</th>
        <th>Kategori Adı</th>
        <th>Kategori Açıklaması</th>
        <th>Durum</th>
        <th>Silme İşlemi</th>
        <th>Güncelleme İşlemi</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <th>@item.CategoryId</th>
            <td>@item.CategoryName</td>
            <td>@item.CategoryDescription</td>
            <td>@item.Status</td>
            <td><a href="/Category/Delete/@item.CategoryId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Category/GetById/@item.CategoryId" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>

